.wrapper {
    gap: 5rem;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.social-wrapper {
    gap: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .ghImg{

}
.instaImg{

}
.xImg{

} */
.contact-textWrapper{
    color: var(--primary-accent);
}
.btn{
    border-radius: 22px;
    background-color: var(--primary-accent);
    color: var(--default-bg);
    font-family: var(--default-font);
}
.btn:hover{
    background-color: var(--default-bg);
    color: var(--primary-accent);
    cursor: pointer;
}