.outer-wrapper {
    border-radius: 22px;
    position: relative;
   
    /* height: 100svh; */
    height: 85svh;
    background-image: url(/src/Assets/bg-images/bg-start.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-container {
    padding: 2rem 3rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-left: 1rem;
}
.text-wrapper{
    color: var(--primary-accent); 
}


.outer-white {
    position: relative;
    border: 3px white solid;
    border-radius: 22px;
    top: 5rem;
}

.outer-black-thick{
    border: 9px solid black;
    border-radius: 22px;
}
.outer-white-thin{
    border: 1px solid white;
    border-radius: 22px;
}
.outer-black-thin{
    border: 1px solid black;
    border-radius: 22px;
}

.start-header > h1 {
    font-size: 6em;
    margin: 0;
    text-shadow: -1px 1px 15px #FFC107;
}
.start-header > p {
    margin-top: .5rem;
    font-size: 1.5em;
    /* margin: 0; */
    text-shadow: 1px 7px 9px black;
}
.summary {
    font-size: 1.25em;
    margin: 1.25rem 0;
    text-shadow: 1px 7px 9px black;
}

.screen-container{
    margin-top: 10rem;
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    height: 100vh;
    
}
.screen-title{
    padding: 2rem 3rem;
}

.cta-wrapper{
    bottom: 4rem;
    left: 4rem;
    position: absolute;
}

.btn-cta {
    font-size: 1.2em;
    text-transform: uppercase;
    /* background-color: hsl(200, 100%, 50%); */
    background-color: var(--default-bg);
    color: var(--primary-accent);
    padding: 10px 20px;
    border-radius: 5px;
    /* border: none; */
    border: 2px solid var(--secondary-accent);
    cursor: pointer;
}


/*-----------------*/
.screen-outer-container {
    margin-top: 5rem;
    margin-bottom: 10rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.virtual-card{
    width: 60%;
    height: 10rem;
    position: relative;  
   margin-top: 10rem;
    background-position: top center;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.virtual-card:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    box-shadow: 0 30px 20px rgba(0,0,0,0.3);
}
.card-content{
    transform-style: preserve-3d;
    text-align: center;
}
.card-content h3{
    color: var(--primary-accent);
    transform: translateZ(100px);
}

.card-content p{
    color: var(--primary-accent);
    transform: translateZ(50px);
}

/*--------------------------------*/


.screen-inner-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.screen-text {
    /* padding: 0px 7rem; */
    width: 50%;
    color: var(--primary-accent);
}
.screen-wrapper {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 3.5rem;
}
.screen {
    width: 29%;
}
.anchor{
    display: inline;
}

@media (max-width: 380px){
    .box-container {
        padding: 2rem 1rem;
    }
    .screen {
        width: 80%;
    }
}
@media (max-width: 550px){
    .summary {
        font-size: 1.1em;
        margin: 1.25rem 0;
        text-shadow: 1px 7px 9px black;
    }
    .start-header > p {
        margin-top: .5rem;
        font-size: 1.2em;
        /* margin: 0; */
        text-shadow: 1px 7px 9px black;
    }
    .start-header > h1 {
        font-size: 3em;
        margin: 0;
        text-shadow: -1px 1px 15px #FFC107;
    }
    .box-container {
        padding: 2rem 3rem;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
    }
}
@media (max-width:950px){
    .outer-wrapper {
        display: flex;       
        align-items: flex-start;       
        justify-content: center;
    }
    .box-container {
        margin-left: 0rem;
        width: auto;
    }
}