.story-container {
    position: relative;
    color: var(--primary-accent);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 5rem;
    gap: 3rem;
    top: 2rem;
}
.divider{
    display: flex;
    flex-direction: column;
}
.story-text > p{
    color: var(--primary-accent);
}
.gif_container {
    display: flex;
    border-radius: 22rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}
.giffy{
    width: 100%;
}
.billy_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust the minimum and maximum widths as needed */
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem; /* Adjust the gap between images */
    margin: 2rem;
}
.bill{
width: 50%;
}
.catfish{
    width: 50%;
}

.collage-cointainer {
    height: 100vh;
    height: 100dvh;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
    height: 100svh;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
    width: 100vw;
    width: 100dvw;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
    width: 100svw;/* Dynamical values for mobile units that might use virtual scrollbars and top menues*/
    background-color: var(--default-bg);
    margin: 0rem;
    overflow: hidden;
    position: relative;
  }
  
  #image-track {
    overflow: hidden;
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
  
  }
  
  #image-track > .image {
    width: 60vmin;
    height: 76vmin;
    object-fit: cover;
    object-position: 100% center;
  }